<div class="login-container">
  <form [formGroup]="loginForm" class="login-form">
      <h2>התחברות</h2>

      <div class="form-group">
          <label for="name">שם משתמש</label>
          <input type="text" formControlName="name" id="name" class="form-control">
          @if (loginForm.controls['name'].invalid && 
              (loginForm.controls['name'].dirty || loginForm.controls['name'].touched)) {
              <div class="error-message">
                  חובה לכתוב שם משתמש
              </div>
          }
      </div>
      <div class="form-group">
          <label for="password">סיסמא</label>
          <input type="password" formControlName="password" id="password" class="form-control">
          @if (loginForm.controls['password'].errors && 
              (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)) {
              @if (loginForm.controls['password'].errors['required']) {
                  <div class="error-message">
                      חובה לכתוב סיסמא
                  </div>
              }
              @if (loginForm.controls['password'].errors['minlength']) {
                  <div class="error-message">
                      סיסמא קצרה מידי
                  </div>
              }
          }
      </div>

      <button (click)="login()" [disabled]="loginForm.invalid" class="login-button">
          התחברות
      </button>
      @if (errorMessage) {
          <div class="login-error-active">
              {{ errorMessage }}
          </div>
      }
  </form>
</div>